
		<div class="hero-unit">
		<h2>Local Evening Classes</h2>
		<p>Welcome to our local Evening Classes website. Please browse our selection of courses. All classes are free to
		everyone in the community. </p>
		<p><a href='browse' class="btn btn-primary btn-large">Learn more</a></p>
		</div>